<?xml version="1.0" encoding="utf-8"?>
<odoo>


    <!-- Menu -->
    <menuitem id="menu_car_wash_root" name="Car Wash Management" sequence="10"/>

    <menuitem id="menu_car_wash_main" name="Wash"
          parent="menu_car_wash_root" sequence="1"/>

    <menuitem id="menu_car_detailing_main" name="Detailing"
              parent="menu_car_wash_root" sequence="2"/>

    <menuitem id="menu_vehicle_main" name="Vehicles"
              parent="menu_car_wash_root" sequence="3"/>


</odoo>
