<?xml version="1.0" encoding="UTF-8" ?>
<odoo>


    #to create list view
    <record id="view_manpower_request_tree" model="ir.ui.view">
        <field name="name">manpower.request.tree</field>
        <field name="model">manpower.request</field>
        <field name="arch" type="xml">
            <tree default_order="create_date desc">
                <field name="reference_no"/>
                <field name="Department"/>
                <field name="Job_Position"/>
                <!--                <field name="Request_Date"/>-->
                <!--                <field name="employment_type"/>-->
                <!--                <field name="education_ids"/>-->
                <field name="Number_of_employee" class="text-center"/>
                <!--                adding color to status field-->
                <field name="state" string="Status"
                       decoration-success="state == 'draft'"
                       decoration-info="state == 'review'"
                       decoration-danger="state == 'approved'"
                       decoration-warning="state == 'cancelled'"
                       widget="badge"/>
            </tree>
        </field>
    </record>

    #kanban view code
    <record id="view_manpower_request_kanban" model="ir.ui.view">
        <field name="name">manpower.request.kanban</field>
        <field name="model">manpower.request</field>
        <field name="arch" type="xml">
            <kanban>
                <group>
                    <templates>
                        <!-- Define the template for each Kanban card -->
                        <t t-name="kanban-box">
                            <div class="oe_kanban_content">
                                <!-- Primary content for the Kanban card -->
                                <div>
                                    <strong>
                                        <field name="reference_no"/>
                                    </strong>
                                </div>

                                <div>
                                    <field name="Job_Position"/>
                                </div>
                                <field name="state" string="Status"
                                       decoration-success="state == 'draft'"
                                       decoration-info="state == 'review'"
                                       decoration-danger="state == 'approved'"
                                       decoration-warning="state == 'cancelled'"
                                       widget="badge"/>

                            </div>
                        </t>
                    </templates>
                </group>
            </kanban>
        </field>
    </record>


    #to create form
    <record id="view_manpower_request_form" model="ir.ui.view">
        <field name="name">manpower.request.form</field>
        <field name="model">manpower.request</field>
        <field name="arch" type="xml">
            <form>
                <header>
                    <button name="action_reset_to_draft" string="Reset to draft" type="object"
                            invisible="state in ['draft']" class="btn-primary"
                            groups="manpower_request.group_manpower_manager,manpower_request.group_manpower_admin"/>
                    <button name="action_review" string="Review" type="object" invisible="state in ['review']"
                            class="btn-primary"
                            groups="manpower_request.group_manpower_manager,manpower_request.group_manpower_admin"/>
                    <button name="action_confirm" string="Confirm" type="object"
                            invisible="state in ['approved','draft']" class="btn-primary"
                            groups="manpower_request.group_manpower_admin"/>
                    <button name="action_cancel" string="Cancel"
                            confirm="Are you sure?" type="object" invisible="state in ['review','approved']"
                            class="btn-primary"/>
                    <!--                    options="{'clickable':'1'}"-->
                    <field name="state" widget="statusbar" nolabel="1"
                           statusbar_visible="draft,review,approved" class="btn-primary"/>
                    <!--                    options="{'clickable':'1'}"-->
                </header>
                <sheet>
                    <div class="oe_title">
                        <h1>
                            <field name="reference_no" readonly="1"/>
                        </h1>
                    </div>
                    <group>
                        <group>
                            <field name="Request_Date" readonly="state in ['cancelled', 'approved']"/>
                            <field name="Department" readonly="state in ['cancelled', 'approved']"/>
                            <field name="Job_Position" readonly="state in ['cancelled', 'approved']"/>
                            <field name="Number_of_employee" readonly="state in ['cancelled', 'approved']"/>
                            <!--                    <field name="number_of_employee"/>-->
                        </group>
                        <group>
                            <field name="education_ids" widget="many2many_tags"
                                   readonly="state in ['cancelled', 'approved']"/>
                            <field name="Experience" readonly="state in ['cancelled', 'approved']"/>
                            <field name="employment_type" widget="radio" readonly="state in ['cancelled', 'approved']"/>
                        </group>
                    </group>


                    <notebook>
                        <page string="skills">
                            <field name="skills_ids" readonly="state in ['cancelled', 'approved']">

                                <tree editable="bottom">
                                    <field name="skill_type_id"/>
                                    <field name="skill_id"/>
                                    <field name="skill_level_id"/>
                                </tree>
                                <form>
                                    <field name="skill_id"/>
                                    <field name="skill_type_id"/>
                                </form>
                            </field>
                        </page>
                    </notebook>
                </sheet>
                <!--adding chatter                -->
                <div class="oe_chatter">
                    <field name="message_follower_ids" groups="base.group_user"
                           options="{'post_refresh': 'recipients'}"/>
                    <field name="activity_ids"/>
                    <field name="message_ids"/>
                </div>
            </form>
        </field>
    </record>


    #to create search view
    <record id="view_manpower_request_search" model="ir.ui.view">
        <field name="name">manpower.request.search</field>
        <field name="model">manpower.request</field>
        <field name="arch" type="xml">
            <search>
                <field name="reference_no"
                       filter_domain="['|','|','|',('Department','ilike',self),('name','ilike',self),('employment_type','ilike',self),('state','ilike',self)]"/>
                <field name="employment_type"/>
                <field name="Request_Date"/>
                <field name="Department"/>
                <field name="Experience"/>
                <field name="state"/>

            </search>
        </field>
    </record>


    #to create action
    <record id="action_manpower_request" model="ir.actions.act_window">
        <field name="name">Manpower</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">manpower.request</field>
        <field name="view_mode">tree,kanban,form</field>
        <field name="context">{}</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                create new manpower request !
            </p>
        </field>
    </record>

    #to create menu button
    <menuitem
            id="manpower_main_menu"
            name="Manpower Request"
            action="action_manpower_request"
            sequence="25"/>


</odoo>