<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <record id="action_trial_form" model="ir.actions.act_window">
        <field name="name">Trial Form</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">trial.form</field>
        <field name="view_mode">tree,kanban,form</field>
        <field name="context">{}</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                create new trial !
            </p>
        </field>
    </record>



    #to create menu button

    <menuitem
            id="trial_first_menu"
            name="First"
            parent="project.menu_main_pm"
            sequence="25"/>
    <menuitem
            id="trial_second_menu"
            name="Second"
            action="action_trial_form"
            parent="trial_first_menu"
            sequence="25"/>





</odoo>